a{
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px;
    font-weight: 800;
    color: black;
    background-color: rgb(230, 198, 198);
    width: 250px;
    text-align: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
    flex: 1 1 250px;
    justify-content: center;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 4px;
   
}
.product img{
    width: 95%;
    height: 100%;
}

